* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  color: #2e1065;
  background-color: #f5f3ff;
}

li {
  list-style: none;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
}

.skill-icon {
  width: 60px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
