* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  color: #2e1065;
  background-color: #f5f3ff;
}

li {
  list-style: none;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
}

.skill-icon {
  width: 60px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
  margin: 0 3% 0 3%;
}

.project-list > li {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 0px 15px #a17ce5;
  margin: 10px;
}

.project-github-icon,
.project-live-icon {
  width: 25px;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.contact-icon {
  width: 35px;
}
