* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'roboto';
  src: url(/assets/Roboto-Regular.ttf);
}

body {
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  color: #2e1065;
  background-color: #f5f3ff;
  line-height: 1.5;
}

header {
  position: sticky;
  top: 0;
  background-color: #2e1065;
}

nav {
  height: clamp(30px, 3vw, 65px);
  display: flex;
  justify-content: end;
  align-items: center;
  box-shadow: 0 0 5px black;
}

h1 {
  padding: 25px 0 25px 5%;
  background: linear-gradient(332deg, #f5f3ff 48%, #986ee6 48.5%, #a17ce5 50%);
  font-size: clamp(32px, 2.6vw, 40px);
}

li {
  list-style: none;
}

.nav-list {
  display: flex;
  gap: 4vw;
  padding: 0 10vw 0 0;
}

.nav-list > li > a {
  text-decoration: none;
  font-size: clamp(16px, 1.5vw, 22px);
  color: #f5f3ff;
}

.nav-list > li > a:hover,
.nav-list > li > a:focus {
  border-bottom: 2px solid #f5f3ff;
}

p {
  font-size: clamp(16px, 2vw, 20px);
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  margin: 0 5% 0 5%;
  padding: 1em 0 1em 0;
  border-radius: 5px;
  background-color: #2e1065;
  color: #f5f3ff;
}

.skill-icon {
  width: 60px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  gap: 20px;
  margin: 0 5% 0 5%;
}

.project-list > li {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 0px 15px #a17ce5;
  margin: 10px;
}

.project-github-icon,
.project-live-icon {
  width: 25px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

h3 {
  font-size: clamp(1.2rem, 1.5vw, 26px);
}

.project-list > li > p {
  padding: 0 1rem 0.5rem 1rem;
}

.contact-icon {
  width: 35px;
}

section {
  padding-top: 50px;
}

h2 {
  margin: 0 5% 3% 5%;
  border-bottom: 3px solid #2e1065;
  text-align: center;
  font-size: clamp(21px, 2.6vw, 26px);
}

#projects-section > p,
#about-section > p {
  margin: 0 10% 3% 10%;
}

#contact-section {
  padding-bottom: 45px;
}

#contact-section > p {
  margin: 0 20% 0.5rem 20%;
}

#contact-section > img:first-of-type {
  margin-left: 20%;
}
