* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #2e1065;
  background-color: #f5f3ff;
  line-height: 1.5;
}

header {
  position: sticky;
  top: 0;
  background-color: #2e1065;
}

nav {
  height: clamp(30px, 3vw, 65px);
  display: flex;
  justify-content: end;
  align-items: center;
}

h1 {
  padding: 25px 0 25px 0;
  background: linear-gradient(332deg, #f5f3ff 48%, #986ee6 48.5%, #a17ce5 50%);
}

li {
  list-style: none;
}

.nav-list {
  display: flex;
  gap: 4vw;
  padding: 0 10vw 0 0;
}

.nav-list > li > a {
  text-decoration: none;
  font-size: clamp(16px, 1.5vw, 22px);
  color: #f5f3ff;
}

.nav-list > li > a:hover,
.nav-list > li > a:focus {
  border-bottom: 2px solid #f5f3ff;
}

.skill-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
}

.skill-icon {
  width: 60px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
  margin: 0 3% 0 3%;
}

.project-list > li {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0px 0px 15px #a17ce5;
  margin: 10px;
}

.project-github-icon,
.project-live-icon {
  width: 25px;
}

.project-header {
  display: flex;
  justify-content: space-between;
}

.contact-icon {
  width: 35px;
}

section {
  padding-top: 50px;
}
